body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: 'Proxima Nova Soft', 'Helvetica Neue', sans-serif;
    background-color: whitesmoke;
    overflow-x: hidden;
}

.header {
    padding: 10px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
}

.header-image {
    width: 80px;
    height: 80px;
    margin-top: 10px;
}

h2.header-title{
    margin: 0;
}

p.header-subtitle{
    margin: 0;
}

section{
    text-align: center;
    font-size: 25px;
}

.about-big-box{
    display: flex;
    justify-content: space-evenly;
}

.about-box{
    background-color: white;
    padding: 20px;
}

.about-box img{
    float: left;
    height: 150px;
}

.about-box ul{
    float: right;
    list-style: none;
    text-align: left;
}

.about-box li{
    margin: 15px 0;
    font-size: 18px;
    line-height: 30px;
}